* {
  margin: 0;
  padding: 0;
}

.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.meow-script-regular {
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}

.tinos-regular-italic-xl {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
}

.rotate-frame {
  transform: rotate(-10deg);
}

/* glass-card.css */
.glass-card {
  /* Fondo semitransparente (ajusta según tema) */
  background: rgba(245, 242, 242, 0.06);
  /* filtro de fondo (el truco del glassmorphism) */
  backdrop-filter: blur(10px) saturate(120%);
  -webkit-backdrop-filter: blur(10px) saturate(120%);

  /* borde sutil y redondeo */
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 12px;

  /* sombra ligera para separación */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);

  /* transiciones suaves */
  transition: transform 200ms ease, box-shadow 200ms ease;
  overflow: hidden;
}

/* pequeño efecto hover */
.glass-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 36px rgba(0, 0, 0, 0.18);
}

/* Ajustes específicos para el header del Card de AntD */
.glass-card .ant-card-head {
  background: transparent;
  border-bottom: none;
}

/* Ajusta el body si necesitas espaciado extra */
.glass-card .ant-card-body {
  padding: 0px;
}

/* Fallback para navegadores que no soportan backdrop-filter */
@supports not ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
  .glass-card {
    /* usar degradado + menos transparencia como fallback */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.02));
    border: 1px solid rgba(255, 255, 255, 0.06);
  }
}

.responsive-title {
  font-size: 110px;
}

.response-date-title {
  font-size: 48px;
}

.responsive-subtitle {
  font-size: 18px;
}

.responsive-stuff-section-title {
  font-size: 60px;
}

.responsive-frame-section {
  font-size: 28px;
}

.responsive-subsection {
  font-size: 46px !important;
}

.responsive-text {
  font-size: 22px;
}

.responsive-countdown-text {
  font-size: 40px;
}

.responsive-chalkframe-pading {
  padding: 33px 0px;
}

.responsive-padding-col {
  padding: 126px 62px !important;
}

.responsive-padding-stuff-section {
  padding: 90px 30px !important;
}

.responsive-padding-schedule {
  padding: 77px 34px;
}

.responsive-padding-stuff-1 {
  padding: 148px 0px;
}

.responsive-padding-stuff-2 {
  padding: 112px 70px !important;
}

.responsive-padding-stuff-3 {
  padding: 136px 102px !important;
}

.responsive-cake-image-width,
.responsive-cake-image-width img {
  width: 190px !important;
}

.responsive-cups-image-width,
.responsive-cups-image-width img {
  width: 150px !important;
}

.responsive-shoes-image-width,
.responsive-shoes-image-width img {
  width: 140px !important;
}

.resposive-xl-background-image {
  width: 190px !important;
}

/* sm: >= 576px */
@media (min-width: 576px) {
  .responsive-title {
    font-size: 98px;
  }

  .response-date-title {
    font-size: 38px;
  }

  .responsive-subtitle {
    font-size: 28px;
  }

  .responsive-subsection {
    font-size: 46px;
  }

  .responsive-text {
    font-size: 22px;
  }

  .responsive-countdown-text {
    font-size: 30px;
  }

  .responsive-chalkframe-pading {
    padding: 21px 10px;
  }

  .responsive-padding-col {
    padding: 90px 30px;
  }

  .responsive-padding-stuff-section {
    padding: 90px 30px !important;
  }

  .responsive-padding-schedule {
    padding: 24px 78px;
  }

  .responsive-padding-stuff-1 {
    padding: 42px 78px;
  }

  .responsive-padding-stuff-2 {
    padding: 36px 92px;
  }

  .responsive-padding-stuff-3 {
    padding: 56px 180px;
  }

  .responsive-cake-image-width {
    width: 180px;
  }
}

/* md: >= 768px */
@media (min-width: 768px) {
  .responsive-title {
    font-size: 114px;
  }

  .response-date-title {
    font-size: 54px;
  }

  .responsive-subtitle {
    font-size: 20px;
  }

  .responsive-subsection {
    font-size: 46px !important;
  }

  .responsive-text {
    font-size: 22px;
  }

  .responsive-countdown-text {
    font-size: 54px;
  }

  .responsive-chalkframe-pading {
    padding: 38px 0px !important;
  }

  .responsive-padding-col {
    padding: 96px 138px !important;
  }

  .responsive-padding-schedule {
    padding: 74px 118px !important;
  }

  .responsive-padding-stuff-1 {
    padding: 110px 78px !important;
  }

  .responsive-padding-stuff-2 {
    padding: 54px 65px !important;
  }

  .responsive-padding-stuff-3 {
    padding: 94px 72px !important;
  }

  .responsive-cake-image-width {
    width: 180px;
  }
}

/* lg: >= 992px */
@media (min-width: 992px) {
  .responsive-title {
    font-size: 114px;
  }

  .response-date-title {
    font-size: 68px;
  }

  .responsive-subtitle {
    font-size: 44px;
  }

  .responsive-subsection {
    font-size: 46px;
  }

  .responsive-text {
    font-size: 34px;
  }

  .responsive-countdown-text {
    font-size: 48px;
  }

  .responsive-chalkframe-pading {
    padding: 21px 10px;
  }

  .responsive-padding-col {
    padding: 90px 30px;
  }

  .responsive-padding-stuff-section {
    padding: 90px 30px !important;
  }

  .responsive-padding-schedule {
    padding: 40px 30px;
  }

  .responsive-padding-stuff-1 {
    padding: 42px 78px;
  }

  .responsive-padding-stuff-2 {
    padding: 42px 78px;
  }

  .responsive-padding-stuff-3 {
    padding: 42px 78px;
  }

  .responsive-cake-image-width {
    width: 180px;
  }
}

/* xl: >= 1200px */
@media (min-width: 1200px) {
  .responsive-title {
    font-size: 142px;
  }

  .response-date-title {
    font-size: 68px;
  }

  .responsive-subtitle {
    font-size: 88px;
  }

  .responsive-subsection {
    font-size: 46px;
  }

  .responsive-text {
    font-size: 56px;
  }

  .responsive-countdown-text {
    font-size: 60px;
  }

  .responsive-chalkframe-pading {
    padding: 21px 10px;
  }

  .responsive-padding-col {
    padding: 100px 65px;
  }

  .responsive-padding-stuff-section {
    padding: 90px 30px !important;
  }

  .responsive-padding-schedule {
    padding: 40px 30px;
  }

  .responsive-padding-stuff-1 {
    padding: 42px 78px;
  }

  .responsive-padding-stuff-2 {
    padding: 42px 78px;
  }

  .responsive-padding-stuff-3 {
    padding: 42px 78px;
  }

  .responsive-cake-image-width {
    width: 180px;
  }
}

/* xxl: >= 1600px */
@media (min-width: 1600px) {
  .responsive-title {
    font-size: 200px;
  }

  .responsive-subtitle {
    font-size: 28px;
  }

  .responsive-frame-section {
    font-size: 28px;
  }

  .response-date-title {
    font-size: 88px !important;
  }

  .responsive-subsection {
    font-size: 68px !important;
  }

  .responsive-stuff-section-title {
    font-size: 80px;
  }

  .responsive-text {
    font-size: 24px;
  }

  .responsive-countdown-text {
    font-size: 88px;
  }

  .responsive-chalkframe-pading {
    padding: 64px 10px !important;
  }

  .responsive-padding-col {
    padding: 100px 74px !important;
  }

  .responsive-padding-stuff-section {
    padding: 108px 74px !important;
  }

  .responsive-padding-schedule {
    padding: 64px 60px !important;
  }

  .responsive-padding-stuff-1 {
    padding: 128px 0px !important;
  }

  .responsive-padding-stuff-2 {
    padding: 78px 36px !important;
  }

  .responsive-padding-stuff-3 {
    padding: 112px 70px !important;
  }

  .responsive-cake-image-width,
  .responsive-cake-image-width img {
    width: 276px !important;
  }

  .responsive-cups-image-width,
  .responsive-cups-image-width img {
    width: 130px !important;
  }
}